.main{
    max-width: 984px;
    margin: 0 auto;
}

.nav-topic-tooling a:hover{
    color: $mcolor;
}

.content-list{
    width:35%;
}

.content-details{
    width:59%;
    h5{
        text-align: right;
        //bootstrap 效果顯現不出來?
    }
}

.card-header{
    h4{
        font-weight: bold;
    }
}
// bootstrap效果顯現不出來?


.card-body{
    .potrait{
     background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/emilywang.jpeg?raw=true");
     width: 40px;
     height: 40px;
     background-position:center;
     background-size: cover;
     border-radius: 50%;  
    }
    .potrait2{
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true");
        width: 40px;
        height: 40px;
        background-position:center;
        background-size: cover;
        border-radius: 50%; 
    }
    .line{
        border-bottom: 1px solid $gray;
    }
}

.pagination{
    .page-link-style{
        color:#000;
        border:none;
    }
}

.ckeditor {
    bottom:-120px;
    right:115px;
    width: 570px;
    height: 380px;
    z-index: 1;
}
.ck-editor__editable {
    min-height:250px;
}
.editorBtnPosition{
    bottom: 0;
    right: 20px;
}