.sidebars{
    background: $subcolor;
    width:24.8%;
}

h1{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg') ;
    width: 151px;
    height: 40px;
    background-position:center;
    background-repeat: no-repeat;
    padding: 40px 0 34px 0;
}

.sidebars-list-info{
    li{
        a{
            text-decoration: none;
            border-left: 3px solid transparent;
            &:hover{
                color:$mcolor;
                border-left: 3px solid $mcolor;
            }
        };
    }
}

.sidebars-autor{
    .portrait{
        width: 40px;
        height: 40px;
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true");
        background-position:center;
        background-size: cover;
        border-radius: 50%;
        display: inline-block;

    }
    
}
